<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CodeJava Home</title>
    <link rel="stylesheet"
          href="META-INF/resources/webjars/bootstrap/5.0.2/css/bootstrap.min.css" />
    <script src="META-INF/resources/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="META-INF/resources/webjars/bootstrap/5.0.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>User control system</h1>
    <h3><a th:href="@{/users}">List of Users</a></h3>
    <h3><a th:href="@{/register}">Register</a></h3>
    <h3><a th:href="@{/login}">Login</a></h3>
</div>

</body>
</html>